<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/logo2.png">
    <script defer src="/js/activePage.js"></script>
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>


</head>

<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            <li><a class="nav-anch" href="/kontakt">
                    <i class="fa-solid fa-user-pen"></i>
                </a></li>

        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section>
        <div class="container">
            <div class="flex">
                <div>
                    <h2>
                        Aktuelles?
                    </h2>
                </div>
                <div>
                    <h4>
                        Termine WORKSHOPS
                    </h4>
                    <h3 class="workshop-titles">
                        Prof. Dr. Krassimir Stojanov
                    </h3>
                    <h4 class="workshop-titles">
                        12.11.
                        <p>
                            Dialogische Wertebildung in multikulturellen Kontexten
                        </p>
                    </h4>
                    <hr>
                    <h4 class="workshop-titles">
                        19.11.
                        <p>
                            Interkulturelle Konflikte – Besonderheiten, Dynamik, Lösungswege
                        </p>
                    </h4>
                    <hr>
                    <h4 class="workshop-titles">
                        26.11.
                        <p>
                            Bildungsgerechtigkeit – Bedeutung, Reformanforderungen, pädagogische Ansätze
                        </p>
                    </h4>
                    <hr>
                    <h4 class="workshop-titles">
                        10.12.
                        <p>
                            Demokratiebildung – aus der Perspektive der Anerkennungstheorie
                        </p>
                    </h4>
                    <hr>
                    <h4 class="workshop-titles">
                        17.12.
                        <p>
                            Korporative Werteklärung und Wertebestimmung
                        </p>
                    </h4>
                    <hr>
                </div>
                <div>
                    <h4>
                        Termine WORKSHOPS
                    </h4>
                    <h3 class="workshop-titles">
                        Dr. Karin Hutflötz
                    </h3>
                    <h4 class="workshop-titles">
                        12./13.12.
                        <p>
                            Zur Revalidierung sinnlicher Wahrnehmung und Leib-Erfahrung in Bildung
                        </p>
                    </h4>
                    <p style="font-size: 0.9rem;">
                        <a style="color:#00a8f0" href="/aktuelles/mehr-informationen">MEHR INFORMATIONEN
                            <i style="color:#00a8f0 ; margin: 0.7rem; font-size: 1.7rem;"
                                class="fa-solid fa-circle-info"></i>
                        </a>
                    </p>
                    <hr>
                </div>
            </div>
    </section>
    </div>
    <footer class="contact-info">
        <div>
            <h5> Copyright © 2022</h5>
        </div>
        <div>
            <a style="color: #00a8f0;" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </div>
    </footer>
</body>

</html>