<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/logo2.png">
    <script defer src="/js/activePage.js"></script>
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>


</head>

<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            <li><a class="nav-anch" href="/kontakt">
                    <i class="fa-solid fa-user-pen"></i>
                </a></li>

        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section>
        <div class="container">
            <div class="flex">
                <div>
                    <p>
                        <b>
                            Workshop unter der Leitung von Dr. Karin Hutflötz und Sophie Schmidt
                            (Künstlerin/Kunstpädagogin).
                        </b>
                        Unter den Bedingungen der Pandemie, aber auch in Folge der digitalisierten Welt, ist kaum mehr
                        Raum für leibliche und sinnliche Erfahrungen im Unterricht. Sinneswahrnehmung wird – wie auch
                        außerschulisch üblich – zunehmend beschränkt auf die Rezeption zweidimensionaler Bilder in
                        digitaler Vermittlung. Dagegen bleibt die Schulung der Wahrnehmung als komplexes Zusammenspiel
                        von Leib und allen Sinnen fast notgedrungen auf der Strecke.

                        Methodisch vielfältig und theoretisch fundiert zeigen wir im Workshop, wie eine Revalidierung
                        sinnlicher Wahrnehmung aussehen könnte, und was pädagogisch und anthropologisch dafürspricht:
                        Inwiefern die Bildung aller Sinne – gerade in dem Zusammenspiel von leiblicher Erfahrung und
                        philosophischer Reflexion – zentral ist für Persönlichkeitsbildung und soziale Performanz.
                    <p>
                        <em>
                            „Es ist mehr Vernunft in deinem Leibe, als in deiner besten Weisheit. Und wer weiß denn,
                            wozu
                            dein Leib gerade deine beste Weisheit nötig hat?“ (F. Nietzsche)
                    </p>
                    </em>
                    </p>
                </div>
                <div>
                    <p>
                        <b>Zielgruppe:</b> Für Lehrer:innen aller Schulformen und pädagogische Fachkräfte.
                    </p>
                    <p><b>Wann: </b>2-tägig. 21./22.10.2022, jeweils 10-17 Uhr</p>

                    <p><b>Wo:</b> Milchstr. 4, 80796 München</p>

                    <p>
                        <b>Kosten:</b> Als Eröffnungsangebot des Instituts für philosophische Bildungsforschung und
                        Beratung
                        bieten wir für alle unsere zweitägigen Workshops bis 30. Oktober 2022 eine
                        Sonder-Teilnahmegebühr von 200,- EUR (regulär 300,- EUR). Zudem gewähren wir Studierenden,
                        Arbeitssuchenden und geringfügig Beschäftigten eine ermäßigte Teilnahmegebühr von 120,- EUR.

                    </p>
                    <p>
                        <b>Anmeldung:</b> Bitte per Mail an info@institut-philbb.de
                    </p>
                    <p>
                        <b>Anmeldeschluss:</b> 15.10.2022
                    </p>
                    </p>
                    <p>
                        <a class="back" href="/aktuelles">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </p>
                </div>
            </div>
    </section>
    </div>
    <footer class="contact-info">
        <div>
            <h5> Copyright © 2022</h5>
        </div>
        <div>
            <a style="color: #00a8f0;" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </div>
    </footer>
</body>

</html>