<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/logo2.png">
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>
    <script defer src="/js/activePage.js"></script>

</head>

<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            <li><a class="nav-anch" href="/kontakt">
                    <i class="fa-solid fa-user-pen"></i>
                </a></li>

        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section>
        <div class="container">
            <br>
            <div class="flex">
                <div>
                    <h3>
                        Dr. Karin Hutflötz
                    </h3>
                    <p>
                        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone">+49 89 26218489</i>
                    </p>
                    <p>
                        <i style="margin: 0.4rem;" class="fa-solid fa-envelope"></i>
                        <a style="color: #00a8f0;" href=mailto:krassimirstojanov@yahoo.de>e-mail </a>

                    </p>
                    <h3>
                        Prof. Dr. Krassimir Stojanov
                    </h3>
                    <p>
                        <i style="margin: 0.5rem;" class="fa-solid fa-square-phone">+49 89 17108187</i>
                    </p>
                    <p>
                        <i style="margin: 0.4rem;" class="fa-solid fa-envelope"></i>
                        <a style="color: #00a8f0;" href=mailto:krassimirstojanov@yahoo.de>e-mail </a>
                    </p>
                </div>
                <div>
                    <img src="/public/logo2.png" style="width: 90%;" , height="90%" alt="">
                </div>
            </div>
    </section>
    </section>
    </div>
    <footer class="contact-info">
        <div>
            <h5> Copyright © 2022</h5>
        </div>
        <div>
            <a style="color: #00a8f0;" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </div>
    </footer>
</body>

</html>