<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/logo2.png">
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>
    <script defer src="/js/activePage.js"></script>

</head>

<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            <li><a class="nav-anch" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>

    <section>
        <div class="container">
            <div class="flex">
                <div>
                    <img class="portrait" src="/public/krassimir.jpg" alt="">
                    <h4>Lebenslauf</h4>
                    <p>Zur Person - <a class="anchs"
                            href='https://www.ku.de/ppf/paedagogik/lehrstuhl-fuer-bildungsphilosophie-und-systematische-paedagogik/team/prof-dr-krassimir-stojanov'
                            target="_blank" rel="noreferrer">Educaten</a></p>
                    <h4>Referenzen</h4>
                    <li>
                        Bildungsgerechtigkeit als gesellschaftskritische Kategorie?, 2021 –
                        <br>
                        <a class="anchs"
                            href="https://content-select.com/de/portal/media/view/61458186-c9e4-4bac-a5cd-2995c496b0fd"
                            target="_blank" rel="noreferrer">lesen</a>
                    </li>
                    <li>
                        Education, Freedom, and Emancipation from the Standpoint of the Recognition Theory?, 2020 –
                        <br>
                        <a class="anchs"
                            href="https://www.ku.de/fileadmin/120201/Dateien/Interview_Axel_Honneth_on_Education__Sysiphus_301020.pdf"
                            target="_blank" rel="noreferrer">lesen</a>
                    </li>
                    <li>
                        The design of the university: German, American, and ‘World Class’?, 2019 –
                        <br>
                        <a class="anchs"
                            href="https://www.tandfonline.com/doi/abs/10.1080/00131857.2017.1422339?journalCode=rept20"
                            target="_blank" rel="noreferrer">lesen</a>
                    </li>
                </div>
                <div>
                    <h4>Prof. Dr. Krassimir Stojanov</h4>
                    <h4>Universitätsprofessor für Bildungsphilosophie, Entwickler sokratischer Bildungsformate
                    </h4>
                    <p>
                        Krassimir Stojanov ist geboren in Goce Delcev/Bulgarien. Nach Studien- und Forschungsstationen
                        unter anderem in Hannover, Hamburg, Frankfurt a.M. und New York war er als Professor an der
                        Universität der Bundeswehr München tätig, bevor er 2012 zum Professor für Bildungsphilosophie an
                        der KU Eichstätt-Ingolstadt berufen wurde. Zahlreche Publikationen zum Zusammenhang zwischen
                        Bildung und erlebter Anerkennung, zur Bildungsgerechtigkeit, zu Bildungsprozessen im Kontext von
                        Migration, zu Demokratiebildung sowie zum Populismus. Darüber hinaus ist Krassimir Stojanov auch
                        ein Bildungspraktiker: Seit Jahren führt er sokratische Gespräche zur kommunikativen
                        Werteklärung an verschiedenen Einrichtungen sowie Workshops zur Schlichtung interkultureller
                        Konflikte durch.
                    </p>
                    <br>
                    <p>
                        <a class="back" href="/wer">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </p>
                </div>
            </div>
    </section>
    
    <footer class="contact-info">
        <div>
            <h5> Copyright © 2022</h5>
        </div>
        <div>
            <a style="color: #00a8f0;" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </div>
    </footer>
</body>

</html>