<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institut für philosophische</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/public/logo2.png">
    <script defer src="/js/activePage.js"></script>
    <script src="https://kit.fontawesome.com/80919ea3be.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
        <ul class="links">
            <li><a class="nav-anch" href="/warum">Warum</a></li>
            <li><a class="nav-anch" href="/was">Was</a></li>
            <li><a class="nav-anch" href="/wer">Wer</a></li>
            <li><a class="nav-anch" href="/aktuelles">Aktuelles</a></li>
            <li><a class="nav-anch" href="/referenzen">Referenzen</a></li>
            
            <li><a class="nav-anch" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a></li>

        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <section>
        <div class="container">
            <div class="flex">
                <div>
                    <h3 class="text-center">Bildung</h3>
                    <hr>
                    <h4>
                        Wir entwickeln Bildungskonzepte und bieten Fortbildungen für Bildungsträger und Institutionen
                        –theoretisch fundiert und methodisch vielfältig.
                    </h4>
                    <p>
                        Zu aktuellen Herausforderungen im Bildungskontext – wie Wertebildung und Inklusion,
                        Persönlichkeitsbildung und Sinnorientierung – unter den Bedingungen zunehmender Diversität und
                        Digitalität.
                    </p>
                </div>
                <div>
                    <h3 class="text-center">Forschung</h3>
                    <hr>
                    <h4>
                        Wir konzipieren, aquirieren und setzen Forschungsprojekte professionell um. Wir schaffen
                        Reflexionsräume für bildungsphilosophische Fragen und für die Bildungspraxis – durch Gespräche,
                        Seminare, Symposien.
                    </h4>
                    <p>
                        Wir rekonstruieren Normen menschenwürdigen Umgangs vor allem im pädagogischen Feld und sozialen
                        Einrichtungen. Wir untersuchen Praktiken der Entwürdigung, Unterdrückung und Diskriminierung,
                        die diese Normen verletzen.
                    </p>
                </div>
                <div>
                    <h3 class="text-center">Beratung</h3>
                    <hr>
                    <h4>
                        Wir bieten Bildungs- und Konfliktberatung für Einzelne und Gruppen. Ebenso professionelles
                        Coaching und Beratung zur Studien- und Berufswahl
                    </h4>
                    <p>
                        …und zu ethischen und existenziellen Fragen. Wir entwickeln Konzepte und Strategien zur
                        Umsetzung von Bildungsgerechtigkeit oder Demokratiebildung für Schulen und andere Institutionen.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="contact-info">
        <div>
            <h5> Copyright © 2022</h5>
        </div>
        <div>
            <a style="color: #00a8f0;" href="/kontakt">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </div>
    </footer>
</body>

</html>